<div class="row" >
  <div class="col-md-1"></div>
  <div class="content-card col-md-3">
    <h1>Hello {{levelCtrl.test}}!</h1>
    <button class='btn btn-success btn-circle' ng-href="/lyrics">Easy</button>

  </div>
  <div class="content-card col-md-3">
    <h1>Hello {{levelCtrl.test}}!</h1>
    <button class='btn btn-warning btn-circle' ng-href="/lyrics">Medium</button>

  </div>
  <div class="content-card col-md-3">
    <h1>Hello {{levelCtrl.test}}!</h1>
    <button class='btn btn-danger btn-circle' ng-href="/lyrics">Hard</button>

  </div>
  <div class="col-md-1"></div>
</div>
