<div class="row" >
  <div class="row"></div>
    <div class="col-md-1"></div>
    <div class="level-card col-md-3" ng-repeat="song in levelCtrl.beginner" data-ng-init="btnId='a';">
      <div id="beginner" class="rectangle green center-block" data-ng-click="levelCtrl.getLevel($event)">Beginner</div>
      <a ng-href="/lyrics/{{song.id}}"><img class ="small-pic center-block" src={{song.albumCoverUrl}} alt=""></a>
    </div>
    <div class="level-card col-md-3" ng-repeat="song in levelCtrl.intermediate">
      <div id = "intermediate" class="rectangle orange center-block" data-ng-click="levelCtrl.getLevel($event)">Intermediate</div>
      <a ng-href="lyrics/{{song.id}}"><img class ="small-pic center-block" src={{song.albumCoverUrl}} alt=""></a>
    </div>
    <div class="level-card col-md-3" ng-repeat="song in levelCtrl.advanced">
      <div id ="advanced" class="rectangle red center-block" data-ng-click="levelCtrl.getLevel($event)">Advanced</div>
      <a ng-href="lyrics/{{song.id}}"><img class ="small-pic center-block" src={{song.albumCoverUrl}} alt=""></a>
    </div>
  <div class="col-md-1"></div>
</div>
