<div class="container">
  <div class="row"></div>
  <div class="row ">
    <div class="col-md-4 level-card content-card">
      <p>Title | {{lyricsShowCtrl.song.title}} </h1> </p>
      <p>Artist | {{lyricsShowCtrl.song.artistName}}</p>
      <p>Album | {{lyricsShowCtrl.song.album}}</p>
      <p>Difficulty | {{lyricsShowCtrl.song.difficulty}}</p>

    </div>
    <div class="col-md-4">
      <img src="{{lyricsShowCtrl.song.albumCoverUrl}}" alt="album image">
    </div>
    <div class="col-md-4 col-xs-4">
      <div>
        <iframe width="230" height="230" src="https://www.youtube.com/embed/r4KB_XckOGU" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
  <div class="lyrics-card">
    <div class="row" ng-repeat=" line in lyricsShowCtrl.song.verse1">
      <p class="english">{{line.english}}</p>
      <p class="native-languange">{{line.portuguese}}</p>
      <hr>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 ">
      <button class='btn btn-info' ng-href="/lyrics"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    </div>
    <div class="col-md-6">
      <button class='btn btn-info' ng-href="/lyrics">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>

  </div>

</div>
