/**{
  border: dashed 1px black;
}*/
h1{
  padding: 20px;
}
a{
  font-size: 20px;
  text-decoration: none;
}
img{
  margin: 5px;
}

p{
  font-size: 30px;
}
body{
  font-family: 'Roboto', sans-serif;
  color: white;
  /*text-shadow: 2px 2px #000;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

iframe{
  height: 250px;
  width: 80%;
	border-radius: 20px;
	overflow:hidden;
  margin: 10px;

	/*position:relative;*/
}

footer{
  color: black;
  text-align: center;
  font-size: 15px;
  background-color: white;
  padding: 10px;
}
.icon{
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
.container{
  min-height: 200px;

}

.row{
  min-height: 50px;

}
.content-card{
  min-height: 200px;
  padding: 0 5px 0 5px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.btn-circle {
  width: 160px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
}

.english{
  color: yellow;
  font-size: 30px;
  font-weight: 800;
}
.other-language{
  color: white;

}

.header{
  background: rgba(0,0,0, 0.5);
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;

}

.level-card {
    margin: 10px;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    align-content: center;
}

.lyrics-card {
    margin: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    align-content: center;
}
.main{
  background-image: url("/images/purple-background.jpg");

}
.dropdown-menu{
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.btn{
  text-align: center;
}
