/**{
  border: dashed 1px black;
}*/
h1{
  padding: 20px;
}
a{
  font-size: 20px;
  text-decoration: none;
}
img{
  height: 250px;
  width: 280px;
  margin: 10px;
  border:1px solid #ffffff;
  border-radius: 15px;
}

p{
  font-size: 30px;
}
body{
  font-family: 'Roboto', sans-serif;
  color: white;
  background: url("/images/background4.jpg");

  /*text-shadow: 2px 2px #000;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

iframe{
  height: 250px;
  width: 280px;
	border-radius: 15px;
	overflow:hidden;
  margin: 10px;
  border:1px solid #ffffff;

	/*position:relative;*/
}

footer{
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  background:rgba(255,255,255, 0.3);
  clear:both;
}

button{
 align-items: center;
 font-family: 'Roboto', sans-serif;

}

.icon{
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
.container{
  min-height: 200px;

}

.row{
  min-height: 50px;

}
.content-card{
  height: 250px;
  width: 280px;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.75);
}

.level-card {
    margin: 10px;
    padding: 15px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    align-content: center;
    box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.75);
}


.btn-large {
  width: 200px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 20px;
  line-height: 1.42;

}

.english{
  color: yellow;
  font-size: 30px;
  font-weight: 800;
}
.other-language{
  color: white;

}

header{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);

}


.lyrics-card {
    margin: 20px;
    padding: 20px;
    background-color: rgba(64.3, 42.7, 54.9, 0.5);
    border-radius: 10px;
    align-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.main{

}
.dropdown-toggle{
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
.btn{
  text-align: center;
}

.btn-group{
  text-align: center;
  padding: 20px;

}
.small-pic{
  height: 100px;
  width: 100px;
  padding:1px;
  border:1px solid #ffffff;
  border-radius: 10px;
}
