/**{
  border: dashed 1px black;
}*/
h1{
  color: white;
  font-family:'Changa One', cursive;
}
img{
  margin: 5px;
}

p{
  font-size: 30px;
}
body{
  font-family: 'Changa One', cursive;
  color: white;
  text-shadow: 2px 2px #000;
  background-image: url("/images/purple-background.jpg");
}

.icon{
  width: 30px;
  height: 30px;
  margin: 0 8px;
}
.container{
  min-height: 200px;
}

.row{
  min-height: 50px;

}
.content-card{
  min-height: 200px;
  padding: 0 5px 0 5px;
  margin: 10px;
  border-radius: 10px;
}

.btn-circle {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 30px;
}

.panel-font{
  font-size: 40px;
  color: green;
}

.green-letter{
  color: green;
  font-size: 30px;
}
.yellow-letter{
  color: yellow;
}
